{{/*
  ParseFont
  Parse data from Module's settings font declaration. For now it only adds a .resources containing the font files assets.

  @author @regisphilibert

  @context Map

  @access private

  @return Map
      String (.family)
      String (.file)
      Int (.weight)
      String (.style)
      Slice (.local)
      Resources (.resources)
*/}}
{{ $font := . }}
{{ with .file }}
  {{ with resources.Match (print "/" . ".*") }}
    {{ $font = merge $font (dict "resources" .) }}
  {{ end }}
{{ end }}
{{ with .local }}
  {{ $local := . }}
  {{/* Local must be a slice, if user enters a string */}}
  {{ if not (reflect.IsSlice .) }}
    {{/* We turn it into a slice with that lone string */}}
    {{ $local = slice . }}
  {{ end }}
  {{ $font = merge $font (dict "local" $local ) }}
{{ end }}
{{ return $font }}